@import 'reset.css';

:root {
    --container-padding: 15px;
    --container-width: 1270px;
    --secondary: rgba(15, 31, 28, 0.5);
    --orange: #FF7C4E;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgba(246, 246, 246, 1);
    color: #fff;
}

.none {
    display: none !important;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
}

.container-right {
    padding-left: calc( ( 100% - var(--container-width)) / 2 + var(--container-padding) );
}

.container-left {
    padding-right: calc( ( 100% - var(--container-width)) / 2 + var(--container-padding) );
}

.block {
    height: 200px;
    background: rgba(255, 55, 234, 0.4);
}

.header {
    min-height: 940px;
    overflow: hidden;
    background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
    position: relative;
    padding-top: 54px;
    color: #fff;
}

.none {
    display: none;
}

.header a {
    color: #fff;
}

.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;
    background: url("./../img/header/header-bottom.svg");
    background-size: 100%;

}

.header__content {
    width: 592px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.header__top {
    margin-bottom: 95px;
}

.nav__login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: 15px;
    font-weight: 500;
}

.nav__login.nav__login--footer {
    gap: 66px;
}

.logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.logo--footer {
    color: var(--orange);
}

.logo a {
    color: inherit;
}

.nav__list {
    display: flex;
    gap: 80px;
}

.nav__list li a {
    font-weight: 500;
    size: 15px;
    line-height: 22.5px;
}

.nav__toggle {
    display: none;
    background: transparent;
    border: none;
    outline: none;
}

.nav__list a {
    position: relative;
}

.nav__list.nav__list--footer a.active::after,
.nav__list.nav__list--footer a:hover::after {
    display: none;
}

.nav__list--footer a.active,
.nav__list--footer a:hover {
    color: var(--orange);
}

.nav__list a.active::after,
.nav__list a:hover::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 10px;
    height: 4px;
    background: rgba(196, 196, 196, 1);
    border-radius: 100px;
}

.nav__list--footer a {
    color: var(--secondary);
}

.sign-up--footer {
    color: var(--secondary);
}

.btn {
    padding: 13px 44px 13px 43px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 35px;
    font-weight: 500;
    font-size: 15px;
    border: none;
    line-height: 22.5px;
    color: #fff;
}

.btn:hover {
    color: #e5e5e5;
    transition: color 0.4s linear;
}

.btn:active {
    position: relative;
    top: 1px;
}

.header__row {
    display: flex;
}

.header__content {
    max-width: 592px;
    position: relative;
    z-index: 1;
}

.header__badge {
    display: inline-block;
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    padding: 11px 30px 12px 31px;
}

.header__btn {
    font-size: 25px;
    line-height: 37.5px;
    font-weight: 600;
    padding: 27px 47px 26px 48px;
    display: inline-block;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
}

.header__title {
    margin-bottom: 30px;
    font-size: 55px;
    line-height: 82.5px;
    font-weight: 400;
}

.header__text {
    margin-bottom: 68px;
    font-weight: 700;
    font-size: 25px;
    line-height: 37.5px;
    color: rgba(255, 255, 255, 0.5);
}

.header__btn:hover {
    color: #e5e5e5;
    transition: color 0.4s linear;
}

.header__btn:active {
    position: relative;
    top: 1px;
}

.header__img {
    position: relative;
    flex-grow: 1;
}

.header__img img {
    position: absolute;
    top: -155px;
    right: -175px;
    width: 894px;
    height: 940px;
    max-width: unset;
}

.header__img::after {
    content: "";
    position: absolute;
    width: 830px;
    height: 622px;
    top: -15px; 
    right: -10px;
    pointer-events: none;
    background-image: url("./../img/header/header-elements.svg");
}

/*  Destinations sections  */

.destinations {
    padding: 108px 0 100px;
    overflow-x: hidden;
}

.destinations__row {
    display: flex;
    gap: 49px;
}

.destinations__content {
    max-width: 456px;
}

.btn.btn--destination {
    padding: 25px 44px 24px 43px;
    border-radius: 27px;
    font-size: 20px;
}

.destinations__slider {
    width: 1110px;
    flex-shrink: 0;
}

.destinations__title {
    margin-bottom: 15px;
    font-size: 55px;
    font-weight: 600;
    line-height: 82.5px;
    color: #0f1f1c;
}

.destinations__title span {
    font-size: 30px;
    line-height: 45px;
}

.destinations__text {
    margin-bottom: 60px; 
    font-weight: 500;
    font-size: 25px;
    line-height: 37.5px;
    color: var(--secondary);
}

.slider {
    position: relative;
    height: 456px;
}

.slider__item {
    margin-top: 27px;
    width: 335px;
    height: 402px;
    object-fit: cover;
    border-radius: 35px;
    transition: 0.3s linear;
}

.slider .center .slider__item {
    margin-top: 0;
    width: 380px;
    height: 456px;
}

.slider__btn {
    z-index: 9;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    display: flex;
    border: none;
    cursor: pointer;
    align-items: center;
    padding-left: 26px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #8B8B8B;
}

.slider__btn-prev {
    left: -27px;
    padding-left: 26px;
    justify-content: flex-start;
}

.slider__btn-next {
    right: -27px;
    padding-right: 26px;
    justify-content: flex-start;
}

.customers {
    padding: 100px 0 133px;
    color: #0f1f1c;
}

.customers__row {
    display: flex;
    gap: 68px;
}

.customers__img {
    max-width: 478px;
}

.customers__img img {
    border-radius: 60px;
}

.customers__title {
    margin-bottom: 35px;
}

.customers__title h2 { 
    font-size: 45px;
    font-weight: 500;
    line-height: 67.5px;
}

/* Review */

.customers__content {
    max-width: 565px;
}

.review__client {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    gap: 33px;
}

.review__client h3 {
    margin-bottom: 10px;
    font-size: 33px;
    font-weight: 500;
    line-height: 49.5px;
}

.review__client p {
    font-size: 25px;
    line-height: 37.5px;
    color: var(--secondary);
}

.review__client-avatar {
    overflow: hidden;
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background:#FF794E;
}

.review__text {
    margin-bottom: 30px;
}

.review__text p {
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    color: var(--secondary);
}

/* CTA */

.cta{
    padding: 100px 0;
    position: relative;
}

.cta__plate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 581px;
    background: #FFFFFF;
    border-radius: 60px;
}
.cta__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 45px;
    line-height: 67.5px;
    font-weight: 500;
    color: #0f1f1c;
}

.cta__plate::before,
.cta__plate::after {
    position: absolute;
    width: 63px;
    height: 83px;
    content: "";
}

.cta__plate::before {
    left: 174px;
    bottom: 126px;
    background-image: url("./../img/cta/cta-el-01.svg");
}

.cta__plate::after {
    top: 124px;
    right: 176px;
    background-image: url("./../img/cta/cta-el-02.svg");
}

.cta__text {
    margin-bottom: 60px;
}

.cta__text p {
    font-size: 30px;
    line-height: 45px;
    color: var(--secondary);
}

.btn.btn--cta {
    padding: 25px 54px 24px 55px;
    border-radius: 27px;
    font-size: 20px;
}

/* rm -f ./.git/index.lock - if fatal: unable to create file exists error appears */

/* Subscribe */

.subscribe {
    padding: 35px 0 50px;
}

.subscribe__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.subcscribe__title {
    max-width: 494px;
    margin-bottom: 60px;
    color: #0f1f1c;
    font-size: 55px;
    font-weight: 600;
    line-height: 82.5px;
}

.subscribe-form {
    padding: 12px 15px 12px 46px;
    border-radius: 35px;
    display: flex;
    gap: 191px;
    align-items: center;
}
.subscribe-form__input {
    font-size: 24px;
    background: transparent;
    line-height: 36px;
    font-weight: 500;
    color: var(--secondary);
    border: none;
    outline: none;
}

.subscribe-form__input::placeholder {
    color: var(--secondary);
}

.btn.btn--subscribe {
    padding: 34px 87px 33px 86px;
    font-size: 25px;
    line-height: 37.5px;
    font-weight: 600;
}

/* Footer */

.footer {
    padding: 56px 0 74px;
}

.logo--footer {
    color: #FF7C4E;
}

.menu-icon-wrapper {
    --width: 40px;
    --height: 30px;
    --time: 0.15s;
    --color: #fff;
      width: var(--width);
      height: var(--height);
      display: flex;
      justify-content: center;
      align-items: center;
}
    
.menu-icon {
      position: relative;
      width: var(--width);
      height: 4px;
      background-color: #fff;
    }
    
.menu-icon::before {
      position: absolute;
      left: 0;
      top: -10px;
      content: '';
      width: var(--width);
      height: 4px;
      background-color: var(--color);
      transition: transform var(--time) ease-in, top var(--time) linear var(--time);
    
    }
    
.menu-icon::after {
      position: absolute;
      left: 0;
      top: 10px;
      content: '';
      width: var(--width);
      height: 4px;
      background-color: var(--color);
      transition: transform var(--time) ease-in, top var(--time) linear var(--time);
    
    }
    
.menu-icon.menu-icon-active {
      background-color: transparent;
    }
    
.menu-icon.menu-icon-active::before {
      transform: rotate(45deg);
      top: 0;
      transition: top var(--time) linear, transform var(--time) ease-in var(--time);
    }
    
.menu-icon.menu-icon-active::after {
      transform: rotate(-45deg);
      top: 0;
      transition: top var(--time) linear, transform var(--time) ease-in var(--time);
    }





/* Media Queries */

@media (max-width: 1259px) {
    .container-right {
        padding-left: 15px;
    }
}

@media (max-width: 1000px) {
    .nav__list{
        display: none;
    }
    
    .nav__login {
        display: none;
    }

    .nav__toggle {
        display: block;
    }
    
    .nav--mobile {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        background: linear-gradient(206deg, #428E5F -17.38%, #112120 78.4%), #204434;
        flex-direction: column;
        padding: 40px 0;
        align-items: center;
        transition: all 0.4s linear;
    }

    .nav--mobile .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        font-size: 22px;
    }

    .nav--mobile .nav__list a.active::after,
    .nav--mobile .nav__list a:hover::after {
        display: none;
    }


    .nav--mobile .logo {
        font-size: 36px;
    }

    .nav--mobile .nav__login {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        font-size: 25px;
    }

    .nav--mobile .nav__toggle {
        position: fixed;
        top: 50px;
        right: 20px;
    }

    .no-scroll {
        overflow-y: hidden;
    }

    .header__img img {
        right: -275px;
    }

    .header__img::after {
        top: -31px;
        right: -222px;
    }
    
}

@media (max-width: 849px) {
    .header { 
        padding-top: 34px;
    }

    .header__row {
        flex-direction: column;
    }

    .header__img img {
        position: static;
        width: 85%;
        height: auto;
    }

    .header__img::after {
        top: 10px;
        right: -6px;
    }

    .header__title {
        margin-bottom: 20px;
        font-size: 35px;
        line-height: 55.5px;
    }

    .header__text {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 33.5px;
        max-width: 390px;
    }

    .header__badge {
        margin-bottom: 10px;
        font-size: 17px;
        border-radius: 9px;
        padding: 10px 25px 10px 25px;
    }

    .header__btn {
        font-size: 20px;
        line-height: 30.5px;
        padding: 23px 44px 23px 44px;
        background: linear-gradient(0deg, #FF7B4E 15.57%, #FF584E 95.03%);
        border-radius: 20px;
    }
}

